// Adicionando animação ao botão
button {
    transition: all 0.3s ease-in-out;
}



// Adicionando animação para o modal
.modal-enter {
    animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}