<main
  class="flex flex-col min-h-screen bg-gradient-to-r from-white to-[#e0e7ec]"
>
  <!-- Cabeçalho -->
  <app-header class="w-full mb-20" />

  <!-- Conteúdo principal com deferimento -->
  <section class="flex-grow">
    <!-- Aqui usamos deferimento e placeholders -->
    @defer(on viewport) {
    <section>
      <div data-aos="fade-up">
        <app-sobre />
      </div>

      <div data-aos="fade-up" data-aos-delay="100">
        <app-planos id="planos" />
      </div>

      <div data-aos="fade-up" data-aos-delay="200">
        <app-funcionalidades />
      </div>

      <div data-aos="fade-up" data-aos-delay="300">
        <app-graficos />
      </div>

      <div data-aos="fade-up" data-aos-delay="400">
        <app-faq id="faq" />
      </div>
    </section>
    } @placeholder {
    <section>
      <div class="loading">
        <p>Carregando...</p>
      </div>
    </section>
    } @error {
    <section>
      <div class="error">
        <h1>Erro</h1>
        <p>Erro ao carregar a página.</p>
      </div>
    </section>
    }
  </section>
</main>

<!-- Footer -->
<app-footer class="mt-auto w-full" />
