/* divtop.component.scss */
#mobile-menu {
    transition: transform 0.3s ease-in-out;

    &.-translate-y-full {
        transform: translateY(-100%);
    }

    &.translate-y-0 {
        transform: translateY(0);
    }
}

/* Estilos para os dropdowns mobile */
#mobile-menu .relative {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

/* Overlay */
.overlay {
    transition: opacity 0.3s ease;
}

/* Previne rolagem quando o menu está aberto */
body.menu-open {
    overflow: hidden;
}

/* Estilos para desktop */
@media (min-width: 768px) {
    #mobile-menu {
        display: none !important;
    }

    #main-nav,
    #right-nav {
        display: flex !important;
    }
}