<section class="min-h-screen bg-gradient-to-r from-white to-[#b6c6cc] flex p-5">
  <div class="container mx-auto flex justify-center">
    <!-- Coluna da Esquerda (Menu de Navegação) -->
    <div class="p-8 rounded-lg transform transition-transform duration-300">
      <ul class="space-y-10">
        <li>
          <a
            (click)="setActive('categorias')"
            class="flex items-center text-gray-700 hover:text-gray-200 transition-colors duration-300 cursor-pointer"
          >
            <i class="fas fa-tags text-black mr-3 text-lg"></i>
            <span class="text-lg font-medium">Categorias</span>
          </a>
        </li>
        <li>
          <a
            (click)="setActive('contas')"
            class="flex items-center text-gray-700 hover:text-gray-200 transition-colors duration-300 cursor-pointer"
          >
            <i class="fas fa-wallet text-black mr-3 text-lg"></i>
            <span class="text-lg font-medium">Contas</span>
          </a>
        </li>
        <li>
          <a
            (click)="setActive('cartoes')"
            class="flex items-center text-gray-700 hover:text-gray-200 transition-colors duration-300 cursor-pointer"
          >
            <i class="fas fa-credit-card text-black mr-3 text-lg"></i>
            <span class="text-lg font-medium">Cartões de crédito</span>
          </a>
        </li>
        <li>
          <a
            (click)="setActive('metas')"
            class="flex items-center text-gray-700 hover:text-gray-200 transition-colors duration-300 cursor-pointer"
          >
            <i class="fas fa-chart-line text-black mr-3 text-lg"></i>

            <span class="text-lg font-medium">Metas Financeiras</span>
          </a>
        </li>

        <li>
          <a
            (click)="setActive('preferencias')"
            class="flex items-center text-gray-700 hover:text-gray-200 transition-colors duration-300 cursor-pointer"
          >
            <i class="fas fa-cog text-black mr-3 text-lg"></i>
            <span class="text-lg font-medium">Configurações</span>
          </a>
        </li>
      </ul>
    </div>

    <!-- Coluna da Direita (Conteúdo Dinâmico) -->
    <div
      class="w-1/2 ml-5 bg-white p-8 rounded-lg shadow-lg transform transition-transform duration-300 h-min"
    >
      <!-- Usando ngSwitch para alternar os componentes -->
      <div [ngSwitch]="activeComponent">
        <app-contas
          *ngSwitchCase="'contas'"
          (openModalEvent)="openGlobalModal('conta')"
        ></app-contas>

        <app-categorias
          *ngSwitchCase="'categorias'"
          (openModalEvent)="openGlobalModal('categoria', $event)"
        ></app-categorias>
        <app-cartao *ngSwitchCase="'cartoes'"></app-cartao>
        <app-metasfinanceiras
          *ngSwitchCase="'metas'"
          (openModalEvent)="openGlobalModal('meta')"
        ></app-metasfinanceiras>

        <!-- Caso nenhum componente seja selecionado -->
        <p *ngSwitchDefault>Por favor, selecione uma opção do menu.</p>
      </div>
    </div>
  </div>
</section>
<!-- Modal Global -->

<div
  *ngIf="isModalOpen"
  class="fixed inset-0 bg-opacity-50 backdrop-blur-md flex items-center justify-center z-50"
>
  <div
    class="bg-white rounded-lg w-full max-w-md p-6 shadow-lg relative"
    (click)="$event.stopPropagation()"
  >
    <!-- Cabeçalho dinâmico -->
    <div class="flex justify-between items-center mb-4">
      <h3 class="text-lg font-semibold text-gray-900">
        {{
          modalType === "conta"
            ? "Adicionar Nova Conta"
            : modalType === "categoria"
            ? categoriaModalType === "expenses"
              ? "Nova Categoria de Despesa"
              : "Nova Categoria de Receita"
            : "Nova Meta Financeira"
        }}
      </h3>
      <button
        (click)="closeGlobalModal()"
        class="text-gray-500 hover:text-gray-700 focus:outline-none"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>

    <!-- Formulário dinâmico -->
    <form
      (ngSubmit)="
        modalType === 'conta'
          ? addAccount()
          : modalType === 'categoria'
          ? addCategory()
          : addGoal()
      "
      class="space-y-4"
    >
      <!-- Formulário de Conta -->
      <div *ngIf="modalType === 'conta'">
        <div>
          <label class="block text-sm font-medium text-gray-700"
            >Nome do Banco</label
          >
          <input
            type="text"
            [(ngModel)]="newAccount.name"
            name="accountName"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
            required
          />
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700"
            >Saldo Inicial</label
          >
          <input
            type="number"
            [(ngModel)]="newAccount.balance"
            name="balance"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
            required
          />
        </div>
      </div>

      <!-- Formulário de Categoria -->
      <!-- Modal de Categoria -->
      <div *ngIf="modalType === 'categoria'">
        <div>
          <label class="block text-sm font-medium text-gray-700"
            >Nome da Categoria</label
          >
          <input
            type="text"
            [(ngModel)]="newCategory.name"
            name="categoryName"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
            required
          />
        </div>
        <div class="mt-4">
          <label class="block text-sm font-medium text-gray-700"
            >Tipo de Categoria</label
          >
          <div class="mt-1 p-3 border border-gray-300 rounded-md bg-gray-50">
            <span
              class="font-medium"
              [ngClass]="{
                'text-red-500': newCategory.type === 'expense',
                'text-green-600': newCategory.type === 'income'
              }"
            >
              {{ newCategory.type === "expense" ? "Despesa" : "Receita" }}
            </span>
            <p class="text-sm text-gray-500 mt-1">
              {{
                newCategory.type === "expense"
                  ? "Esta categoria será registrada como despesa"
                  : "Esta categoria será registrada como receita"
              }}
            </p>
          </div>
        </div>
      </div>

      <!-- Formulário de Meta -->
      <div *ngIf="modalType === 'meta'">
        <div>
          <label class="block text-sm font-medium text-gray-700"
            >Nome da Meta</label
          >
          <input
            type="text"
            [(ngModel)]="newGoal.name"
            name="goalName"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
            required
          />
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700"
            >Valor Alvo (R$)</label
          >
          <input
            type="number"
            [(ngModel)]="newGoal.targetValue"
            name="targetValue"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
            required
            min="0.01"
            step="0.01"
          />
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700"
            >Valor Atual (R$)</label
          >
          <input
            type="number"
            [(ngModel)]="newGoal.currentValue"
            name="currentValue"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"
            required
            min="0"
            step="0.01"
            [max]="newGoal.targetValue"
          />
        </div>
      </div>

      <!-- Botões -->
      <div class="flex justify-end space-x-2">
        <button
          type="button"
          (click)="closeGlobalModal()"
          class="px-4 py-2 bg-gray-500 text-white rounded-lg hover:bg-gray-600 transition duration-300"
        >
          Cancelar
        </button>
        <button
          type="submit"
          class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition duration-300"
        >
          <i class="fas fa-save mr-2"></i>Salvar
        </button>
      </div>
    </form>
  </div>
</div>
