<header
  class="bg-gradient-to-r from-white to-grey text-black shadow-lg sticky top-0 z-20"
>
  <div class="container mx-auto flex items-center justify-between p-2">
    <!-- Logo -->
    <div class="flex items-center">
      <a href="/" class="flex items-center">
        <img
          src="assets/img/logo.png"
          alt="Logo"
          class="h-14 w-auto transform transition-transform duration-300 hover:scale-105"
        />
      </a>
    </div>

    <!-- Navegação Principal -->
    <nav id="main-nav" class="hidden md:flex space-x-6">
      <ul class="flex space-x-6">
        <li>
          <a
            href="/5920718/a/inicio"
            class="text-lg font-medium hover:text-[#8a999f] transition-colors duration-300 transform hover:scale-105"
            >Visão Geral</a
          >
        </li>
        <li>
          <a
            href="/5920718/a/lancamentos"
            class="text-lg font-medium hover:text-[#8a999f] transition-colors duration-300 transform hover:scale-105"
            >Lançamentos</a
          >
        </li>
        <li>
          <a
            href="/5920718/relatorios/categorias"
            class="text-lg font-medium hover:text-[#8a999f] transition-colors duration-300 transform hover:scale-105"
            >Relatórios</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-lg font-medium bg-[#5e6d72] text-white px-4 py-2 rounded-lg hover:bg-[#8a999f] transition-colors duration-300 transform hover:scale-105"
            >Conversor de Moedas</a
          >
        </li>
      </ul>
    </nav>

    <!-- Navegação à Direita (Configurações, Notificações, Conta) -->
    <nav id="right-nav" class="flex items-center space-x-4">
      <!-- Configurações -->
      <div
        class="relative group"
        (mouseover)="openSettingsDropdown()"
        (mouseleave)="delayedCloseSettingsDropdown()"
        (click)="toggleSettingsDropdown($event)"
      >
        <button
          id="settings-button"
          class="p-2 hover:bg-[#5e6d72] rounded-lg transition-colors duration-300 focus:outline-none transform hover:scale-105"
        >
          <svg
            width="24"
            height="24"
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
          >
            <g id="SVGRepo_iconCarrier">
              <title>Configurações</title>
              <path
                d="M23.265,24.381l.9-.894c4.164.136,4.228-.01,4.411-.438l1.144-2.785L29.805,20l-.093-.231c-.049-.122-.2-.486-2.8-2.965V15.5c3-2.89,2.936-3.038,2.765-3.461L28.538,9.225c-.171-.422-.236-.587-4.37-.474l-.9-.93a20.166,20.166,0,0,0-.141-4.106l-.116-.263-2.974-1.3c-.438-.2-.592-.272-3.4,2.786l-1.262-.019c-2.891-3.086-3.028-3.03-3.461-2.855L9.149,3.182c-.433.175-.586.237-.418,4.437l-.893.89c-4.162-.136-4.226.012-4.407.438L2.285,11.733,2.195,12l.094.232c.049.12.194.48,2.8,2.962l0,1.3c-3,2.89-2.935,3.038-2.763,3.462l1.138,2.817c.174.431.236.584,4.369.476l.9.935a20.243,20.243,0,0,0,.137,4.1l.116.265,2.993,1.308c.435.182.586.247,3.386-2.8l1.262.016c2.895,3.09,3.043,3.03,3.466,2.859l2.759-1.115C23.288,28.644,23.44,28.583,23.265,24.381ZM11.407,17.857a4.957,4.957,0,1,1,6.488,2.824A5.014,5.014,0,0,1,11.407,17.857Z"
                fill="#000000"
              ></path>
            </g>
          </svg>
        </button>

        <div
          *ngIf="isSettingsDropdownOpen"
          class="absolute right-0 mt-2 w-64 bg-white text-[#2F4F4F] rounded-lg shadow-lg transition-opacity duration-300 transform origin-top-right scale-95 group-hover:scale-100"
        >
          <ul>
            <li>
              <a
                href="/5920718/a/configuracoes/categorias"
                class="block px-4 py-2 hover:bg-[#8a999f] hover:text-white transition-colors duration-300"
                >Categorias</a
              >
            </li>
            <li>
              <a
                href="/5920718/configuracoes/contas"
                class="block px-4 py-2 hover:bg-[#8a999f] hover:text-white transition-colors duration-300"
                >Contas</a
              >
            </li>
            <li>
              <a
                href="/5920718/configuracoes/cartoes-de-credito"
                class="block px-4 py-2 hover:bg-[#8a999f] hover:text-white transition-colors duration-300"
                >Cartões de Crédito</a
              >
            </li>
            <li class="border-t border-[#5e6d72]"></li>
            <li>
              <a
                href="/5920718/configuracoes/preferencias"
                class="block px-4 py-2 hover:bg-[#8a999f] hover:text-white transition-colors duration-300"
                >Preferências</a
              >
            </li>
            <li>
              <a
                href="/5920718/configuracoes/plano-e-faturamento"
                class="block px-4 py-2 hover:bg-[#8a999f] hover:text-white transition-colors duration-300"
                >Meu Plano</a
              >
            </li>
          </ul>
        </div>
      </div>

      <!-- Minha Conta -->
      <div class="relative group">
        <a
          id="account-button"
          (click)="toggleAccountDropdown($event)"
          class="flex items-center p-2 hover:bg-[#5e6d72] rounded-lg transition-colors duration-300 transform hover:scale-105"
        >
          <img
            src="https://utils.organizze.com.br/avatar/avatar-missing.png"
            alt="Avatar"
            class="w-8 h-8 rounded-full"
          />
        </a>
        <div
          *ngIf="isAccountDropdownOpen"
          class="absolute right-0 mt-2 w-64 bg-white text-[#2F4F4F] rounded-lg shadow-lg transition-opacity duration-300 transform origin-top-right scale-95 group-hover:scale-100"
        >
          <div class="p-4">
            <a
              href="/5920718/configuracoes/minha-conta"
              class="flex items-center space-x-2"
            >
              <img
                src="https://utils.organizze.com.br/avatar/avatar-missing.png"
                alt="Avatar"
                class="w-8 h-8 rounded-full"
              />
              <strong>Arthur Ignacio Martins</strong>
            </a>
            <hr class="my-2 border-[#5e6d72]" />
            <a
              href="/5920718/configuracoes/minha-conta"
              class="block py-2 hover:bg-[#8a999f] hover:text-white transition-colors duration-300"
              >Minha Conta</a
            >
            <a
              href="/logout?current_entity_id=5920718"
              class="block py-2 hover:bg-[#8a999f] hover:text-white transition-colors duration-300"
              >Sair</a
            >
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
