  @keyframes progressBar {
      0% {
          width: 0;
      }

      100% {
          width: 100%;
      }
  }

  @keyframes fadeIn {
      0% {
          opacity: 0;
          transform: translateY(10px);
      }

      100% {
          opacity: 1;
          transform: translateY(0);
      }
  }

  .animate-fade-in {
      animation: fadeIn 0.5s ease-out forwards;
  }

  /* Garantir que o container do gráfico tenha altura fixa */
  .h-72 {
      height: 18rem;
      /* 288px */
  }


  /* Tooltip */
  .group:hover .group-hover\:block {
      display: block;
  }