<div class="p-6">
  <!-- Cabeçalho -->
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-extrabold text-gray-900">Categorias</h1>
    <div class="flex space-x-4">
      <button
        (click)="openModal('expenses')"
        class="flex items-center bg-gradient-to-r from-[#b6c6cc] to-[#5e6d72] text-white px-6 py-3 rounded-full shadow-lg hover:scale-105 transform transition-all duration-300 ease-in-out"
      >
        <i class="fas fa-plus-circle mr-3"></i>
        {{
          activeTab === "expenses"
            ? "Categoria de Despesa"
            : "Categoria de Receita"
        }}
      </button>
    </div>
  </div>

  <!-- Abas de Navegação -->
  <div class="bg-white rounded-lg shadow-md mb-6">
    <ul class="flex border-b">
      <li
        [ngClass]="{ 'border-b-4 border-red-500': activeTab === 'expenses' }"
        class="flex-1 text-center"
      >
        <button
          (click)="setActiveTab('expenses')"
          class="w-full py-3 text-gray-700 hover:text-red-500 transition duration-300"
        >
          <i class="fas fa-wallet mr-2"></i> Despesas
        </button>
      </li>
      <li
        [ngClass]="{ 'border-b-4 border-green-600': activeTab === 'earnings' }"
        class="flex-1 text-center"
      >
        <button
          (click)="setActiveTab('earnings')"
          class="w-full py-3 text-gray-700 hover:text-green-500 transition duration-300"
        >
          <i class="fas fa-dollar-sign mr-2"></i> Receitas
        </button>
      </li>
    </ul>
  </div>

  <!-- Lista de Categorias -->
  <div class="bg-white rounded-lg shadow-md p-6">
    <div *ngIf="activeTab === 'expenses'">
      <h2 class="text-2xl font-semibold mb-4 text-gray-800">
        Categorias de Despesas
      </h2>
      <ul class="space-y-2">
        <li
          *ngFor="let category of expenseCategories"
          class="p-3 hover:bg-gray-50 rounded-lg transition duration-300 ease-in-out"
        >
          <i class="fas fa-minus-circle mr-2"></i>{{ category.name }}
        </li>
      </ul>
    </div>
    <div *ngIf="activeTab === 'earnings'">
      <h2 class="text-2xl font-semibold mb-4 text-gray-800">
        Categorias de Receitas
      </h2>
      <ul class="space-y-2">
        <li
          *ngFor="let category of earningCategories"
          class="p-3 hover:bg-gray-50 rounded-lg transition duration-300 ease-in-out"
        >
          <i class="fas fa-plus-circle mr-2"></i>{{ category.name }}
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Modal para Adicionar Categoria -->
<div
  *ngIf="isModalOpen"
  class="fixed inset-0 bg-opacity-50 backdrop-blur-md flex items-center justify-center z-50 transition-opacity duration-300"
>
  <div
    class="bg-white rounded-lg w-full max-w-md p-6 animate__animated animate__fadeIn"
  >
    <div class="flex justify-between items-center mb-4">
      <h3 class="text-lg font-semibold">
        {{
          modalType === "expenses"
            ? "Nova Categoria de Despesa"
            : "Nova Categoria de Receita"
        }}
      </h3>
      <button (click)="closeModal()" class="text-gray-500 hover:text-gray-700">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
    <form (ngSubmit)="addCategory()" class="space-y-4">
      <div>
        <label
          for="categoryName"
          class="block text-sm font-medium text-gray-700"
          >Nome da Categoria</label
        >
        <input
          type="text"
          id="categoryName"
          [(ngModel)]="newCategory.name"
          name="categoryName"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
          required
        />
      </div>
      <div class="flex justify-end">
        <button
          type="button"
          (click)="closeModal()"
          class="mr-2 px-6 py-2 bg-gray-500 text-white rounded-lg hover:bg-gray-600 transition duration-300"
        >
          Cancelar
        </button>
        <button
          type="submit"
          class="px-6 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition duration-300"
        >
          <i class="fas fa-save mr-2"></i> Salvar
        </button>
      </div>
    </form>
  </div>
</div>
