<div class="border-t mt-5 pt-1 bg-gradient-to-r from-[#f9fafb] to-[#e5eaec]">
  <footer class="text-gray-700 py-10 w-full">
    <div class="max-w-screen-xl mx-auto px-6 sm:px-12">
      <!-- Grid de conteúdo principal -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-7">
        <!-- Sobre -->
        <div class="transition-transform duration-300 hover:scale-105">
          <h3 class="text-lg font-bold mb-4 text-[#5e6d72]">
            Sobre o BolsoSeguro
          </h3>
          <p class="text-sm leading-relaxed text-gray-600">
            O BolsoSeguro é a solução completa para o gerenciamento financeiro
            pessoal. Organize suas finanças com praticidade, segurança e
            inteligência.
          </p>
        </div>

        <!-- Links -->
        <div
          class="transition-transform duration-300 hover:scale-105 text-center mx-auto"
        >
          <h3 class="text-lg font-bold mb-4 text-[#5e6d72]">Links Rápidos</h3>
          <ul class="space-y-3">
            <li>
              <a
                href="/quem-somos"
                class="text-sm hover:underline hover:text-black"
              >
                Quem Somos
              </a>
            </li>
            <li>
              <a
                href="/funcionalidades"
                class="text-sm hover:underline hover:text-black"
              >
                Funcionalidades
              </a>
            </li>
            <li>
              <a
                href="/planos"
                class="text-sm hover:underline hover:text-black"
              >
                Planos e Preços
              </a>
            </li>
            <li>
              <a href="/faq" class="text-sm hover:underline hover:text-black">
                FAQ
              </a>
            </li>
          </ul>
        </div>

        <!-- Contato -->
        <div class="transition-transform duration-300 hover:scale-105">
          <h3 class="text-lg font-bold mb-4 text-[#5e6d72]">Contato</h3>
          <ul class="space-y-3 text-sm text-gray-600">
            <li class="flex items-center">
              <svg
                class="h-5 w-5 mr-2 text-[#5e6d72]"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M2 3a1 1 0 011-1h2.15a1 1 0 01.99.84l.74 4.43a1 1 0 01-.54 1.06l-1.55.77a11 11 0 006.1 6.1l.78-1.55a1 1 0 011.06-.54l4.43.74a1 1 0 01.84.99V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"
                />
              </svg>
              (11) 1234-5678
            </li>
            <li class="flex items-center">
              <svg
                class="h-5 w-5 mr-2 text-[#5e6d72]"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                />
                <path
                  d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                />
              </svg>
              contatobolsoseguro.com
            </li>
          </ul>
          <div class="mt-6 flex space-x-5">
            <a
              href="https://github.com/arthurigm1"
              target="_blank"
              class="text-gray-500 hover:text-black transition"
            >
              <i class="fab fa-github text-xl"></i>
            </a>
            <a
              href="https://www.linkedin.com/in/arthur-martins-8ab45221a/"
              target="_blank"
              class="text-gray-500 hover:text-black transition"
            >
              <i class="fab fa-linkedin text-xl"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Rodapé Inferior -->
      <div class="border-t border-gray-300 mt-10 pt-6 text-center">
        <p class="text-sm text-gray-500">
          &copy; {{ currentYear }} BolsoSeguro. Todos os direitos reservados.
        </p>
      </div>
    </div>
  </footer>
</div>
