<div class="border-t shadow-lg shadow-[#5e6d72] mt-5 pt-1">
  <footer class="bg-white text-white py-4 w-full">
    <div class="max-w-screen-xl mx-auto px-8">
      <!-- Conteúdo do Footer -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <!-- Seção 1: Sobre o BolsoSeguro -->
        <div
          class="transform transition-transform duration-300 hover:scale-105"
        >
          <h3 class="text-xl font-bold mb-6 text-[#5e6d72]">
            Sobre o BolsoSeguro
          </h3>
          <p class="text-[#8a999f] text-xl leading-relaxed">
            O BolsoSeguro é a solução completa para o gerenciamento financeiro
            pessoal. Organize suas finanças de forma prática e segura.
          </p>
        </div>

        <!-- Seção 2: Links Rápidos -->
        <div
          class="transform transition-transform duration-300 hover:scale-105"
        >
          <h3 class="text-xl font-bold mb-6 text-[#5e6d72]">Links Rápidos</h3>
          <ul class="space-y-4">
            <li>
              <a
                href="/quem-somos"
                class="text-[#8a999f] text-xl hover:underline transition-all duration-300"
              >
                Quem Somos
              </a>
            </li>
            <li>
              <a
                href="/funcionalidades"
                class="text-[#8a999f] text-xl hover:underline transition-all duration-300"
              >
                Funcionalidades
              </a>
            </li>
            <li>
              <a
                href="/planos"
                class="text-[#8a999f] text-xl hover:underline transition-all duration-300"
              >
                Planos e Preços
              </a>
            </li>
            <li>
              <a
                href="/faq"
                class="text-[#8a999f] text-xl hover:underline transition-all duration-300"
              >
                FAQ
              </a>
            </li>
          </ul>
        </div>

        <!-- Seção 3: Contato e Redes Sociais -->
        <div
          class="transform transition-transform duration-300 hover:scale-105"
        >
          <h3 class="text-xl font-bold mb-6 text-[#5e6d72]">Contato</h3>
          <p class="text-[#8a999f] text-xl mb-6">
            Entre em contato conosco para mais informações:
          </p>
          <ul class="space-y-4">
            <li class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 mr-3 text-[#5e6d72]"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"
                />
              </svg>
              <span class="text-gray-200 text-lg">(11) 1234-5678</span>
            </li>
            <li class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 mr-3 text-[#5e6d72]"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                />
                <path
                  d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                />
              </svg>
              <span class="text-gray-200 text-lg">contatobolsoseguro.com</span>
            </li>
          </ul>
          <div class="mt-6 flex space-x-6">
            <a
              href="https://github.com/arthurigm1"
              target="_blank"
              class="text-gray-400 hover:text-black transition"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-8 w-8"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M12 0C5.37 0 0 5.37 0 12c0 5.3 3.438 9.799 8.207 11.387.6.111.793-.261.793-.582v-2.151c-3.338.724-4.043-1.607-4.043-1.607-.547-1.389-1.335-1.758-1.335-1.758-1.089-.744.082-.729.082-.729 1.205.086 1.839 1.24 1.839 1.24 1.07 1.835 2.807 1.305 3.49.998.109-.775.42-1.305.762-1.605-2.665-.301-5.467-1.332-5.467-5.927 0-1.31.469-2.381 1.24-3.221-.125-.303-.537-1.523.118-3.176 0 0 1.01-.322 3.31 1.23a11.48 11.48 0 013.02-.405c1.025.004 2.06.138 3.02.405 2.3-1.552 3.31-1.23 3.31-1.23.655 1.653.243 2.873.118 3.176.772.84 1.24 1.911 1.24 3.221 0 4.609-2.807 5.624-5.48 5.919.432.37.814 1.102.814 2.222v3.293c0 .324.192.697.8.581C20.564 21.796 24 17.297 24 12 24 5.37 18.63 0 12 0z"
                />
              </svg>
            </a>

            <a
              href="https://www.linkedin.com/in/arthur-martins-8ab45221a/"
              class="text-gray-400 hover:text-black transition-all duration-300 transform hover:scale-110"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-8 w-8"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>

      <!-- Rodapé Inferior -->
      <div class="border-t border-gray-600 mt-8 pt-8 text-center">
        <p class="text-gray-200 text-lg">
          &copy; 2023 BolsoSeguro. Todos os direitos reservados.
        </p>
      </div>
    </div>
  </footer>
</div>
