<header
  class="bg-gradient-to-r from-white to-[#b6c6cc] shadow-lg shadow-[#5e6d72] fixed w-full z-50"
>
  <div
    class="max-w-[1500px] mx-auto flex items-center justify-between px-4 md:px-15 py-0.5 gap-4"
  >
    <!-- Logo -->
    <div class="flex items-center mb-4 md:mb-0">
      <a href="/">
        <img src="assets/img/logo.png" alt="Logo" class="h-16 w-auto" />
      </a>
    </div>

    <!-- Botão de Menu Mobile -->
    <div class="md:hidden flex items-center">
      <button
        (click)="toggleMenu()"
        class="text-[#5e6d72] text-3xl focus:outline-none"
        aria-label="Abrir menu"
      >
        &#9776;
      </button>
    </div>

    <!-- Links Centrais (Desktop) -->
    <nav class="hidden md:flex items-center space-x-8">
      <a
        *ngFor="let link of navLinks"
        [href]="link.path"
        class="text-[#5e6d72] text-2xl font-semibold relative hover:text-black transition-all duration-300 after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-0 after:bg-black after:transition-all after:duration-300 hover:after:w-full"
      >
        {{ link.label }}
      </a>
    </nav>

    <!-- Links à Direita (Desktop) -->
    <div class="hidden md:flex items-center space-x-6">
      <a
        href="/login"
        class="text-[#5e6d72] text-lg font-semibold hover:text-black transition-all duration-300"
      >
        Login
      </a>
      <a
        href="/registro"
        class="bg-[#5e6d72] text-white text-lg font-semibold py-2 px-6 rounded-lg hover:bg-black hover:scale-105 transition-all duration-300"
      >
        Comece já
      </a>
    </div>
  </div>

  <!-- Menu Mobile -->
  <div
    *ngIf="menuOpen"
    class="md:hidden bg-white fixed top-16 left-0 w-full h-full p-6 transition-all duration-300 ease-in-out"
  >
    <nav class="flex flex-col space-y-6">
      <a
        *ngFor="let link of navLinks"
        [href]="link.path"
        class="text-[#5e6d72] text-2xl font-semibold hover:text-black transition-all duration-300"
      >
        {{ link.label }}
      </a>
      <a
        href="/login"
        class="text-[#5e6d72] text-2xl font-semibold hover:text-black transition-all duration-300"
      >
        Login
      </a>
      <a
        href="/registro"
        class="bg-[#5e6d72] text-white text-2xl font-semibold py-2 px-6 rounded-lg hover:bg-black hover:scale-105 transition-all duration-300"
      >
        Comece já
      </a>
    </nav>
  </div>
</header>
