@use "tailwindcss";
@use 'ngx-toastr/toastr';

:root {
    --primary: #817a8a;
    --primary-01: #cdbbbb;

    --secondary: #fcddc8;
    --secondary-02: #fffeea;

    --white: #fff;

    --black: #0b0a0c;

    --three-01: #efcaba;

    --grey: #9b9ba0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
