<div class="p-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-2xl font-extrabold text-gray-900">Minhas Metas</h1>
    <button
      (click)="openCreateModal()"
      class="flex items-center bg-black text-white px-4 py-2 rounded-lg transition duration-300 hover:bg-gray-800"
    >
      <span class="mr-2">+</span>
      Nova Meta
    </button>
  </div>

  <div class="bg-white rounded-lg shadow">
    <ul class="divide-y divide-gray-200">
      <li *ngFor="let meta of metas" class="p-4 hover:bg-gray-50">
        <div class="flex items-center">
          <div class="flex items-center flex-1">
            <div
              class="w-10 h-10 rounded-full flex items-center justify-center bg-blue-100 mr-4"
            >
              <i class="fas fa-bullseye text-blue-500"></i>
            </div>
            <div class="flex-1">
              <strong class="block text-gray-900">{{ meta.nome }}</strong>
              <small class="block text-gray-500">
                Valor: {{ meta.valorMeta | currency : "BRL" }}
              </small>
            </div>
            <div class="flex items-center">
              <span
                class="text-sm font-medium mr-4"
                [ngClass]="{
                  'text-green-500': (meta?.progresso ?? 0) >= 100,
                  'text-yellow-500': (meta?.progresso ?? 0) < 100
                }"
              >
                {{ meta.progresso }}% concluído
              </span>
              <i class="fas fa-chevron-right text-gray-400"></i>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
