<div class="p-4">
  <div class="flex justify-between items-center mb-4">
    <div>
      <h1 class="text-2xl font-extrabold text-gray-900">Minhas Metas</h1>
      <p class="text-gray-500 mt-1">Gerencie suas Metas Financeiras</p>
    </div>
    <button
      (click)="openCreateModal()"
      class="flex items-center bg-gradient-to-r from-[#b6c6cc] to-[#5e6d72] text-white px-6 py-3 rounded-xl shadow-md hover:shadow-lg transition-all duration-300"
    >
      <span class="mr-2">+</span>
      Nova Meta
    </button>
  </div>

  <div class="bg-white rounded-lg shadow">
    <ul class="divide-y divide-gray-200">
      <li *ngFor="let meta of metas" class="p-4 hover:bg-gray-50">
        <div class="flex items-center">
          <div class="flex items-center flex-1">
            <div
              class="w-10 h-10 rounded-full flex items-center justify-center bg-blue-100 mr-4"
            >
              <i class="fas fa-bullseye text-blue-500"></i>
            </div>
            <div class="flex-1">
              <strong class="block text-gray-900">{{ meta.nome }}</strong>
              <small class="block text-gray-500">
                Valor: {{ meta.valorMeta | currency : "BRL" }}
              </small>
            </div>
            <div class="flex items-center">
              <span
                class="text-sm font-medium mr-4"
                [ngClass]="{
                  'text-green-500': (meta?.progresso ?? 0) >= 100,
                  'text-yellow-500': (meta?.progresso ?? 0) < 100
                }"
              >
                {{ meta.progresso }}% concluído
              </span>
              <i class="fas fa-chevron-right text-gray-400"></i>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div *ngIf="metas.length === 0" class="col-span-full py-12 text-center">
    <div class="mx-auto max-w-md">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-12 w-12 mx-auto"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"
        />
      </svg>
      <h3 class="mt-4 text-lg font-medium text-gray-900">
        Nenhuma Meta Financeira Cadastrada
      </h3>
      <p class="mt-1 text-gray-500">Comece planejando seu futuro financeiro</p>
    </div>
  </div>
</div>
