<div class="flex min-h-screen items-center justify-center p-6">
  <div
    class="bg-white shadow-2xl flex flex-col md:flex-row w-full overflow-hidden transform transition duration-500 h-auto md:h-[90vh]"
  >
    <!-- Image Section -->
    <div class="w-full md:w-1/2 min-h-full flex">
      <img
        src="assets/img/login.png"
        alt="Register Image"
        class="h-full w-full object-left"
      />
    </div>

    <!-- Form Section -->
    <div
      class="w-full md:w-1/2 h-auto p-8 flex flex-col justify-center relative"
    >
      <!-- Back Button -->
      <a
        href="#"
        class="absolute top-4 left-6 text-gray-600 hover:text-gray-800 transition duration-300"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 w-8"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 19l-7-7m0 0l7-7m-7 7h18"
          />
        </svg>
      </a>

      <h2
        class="text-4xl md:text-4xl font-bold text-gray-800 mb-8 text-center font-serif mb-12 md:mb-20"
      >
        Crie sua conta no <span class="text-[#5e6d72]">BolsoSeguro</span>
      </h2>

      <form class="space-y-3 w-full max-w-md mx-auto">
        <!-- Nome Completo -->
        <div class="relative">
          <label class="block text-base text-gray-600 mb-2 font-medium"
            >Nome Completo</label
          >
          <input
            type="text"
            class="w-full pl-4 pr-5 py-4 text-base border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-[#5e6d72] focus:border-transparent transition duration-300"
            placeholder="Digite seu nome completo"
          />
        </div>

        <!-- Email Input -->
        <div class="relative">
          <label class="block text-base text-gray-600 mb-2 font-medium"
            >E-mail</label
          >
          <input
            type="email"
            class="w-full pl-4 pr-5 py-4 text-base border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-[#5e6d72] focus:border-transparent transition duration-300"
            placeholder="Digite seu e-mail"
          />
        </div>

        <!-- Password Input -->
        <div class="relative">
          <label class="block text-base text-gray-600 mb-2 font-medium"
            >Senha</label
          >
          <input
            type="password"
            class="w-full pl-4 pr-5 py-4 text-base border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-[#5e6d72] focus:border-transparent transition duration-300"
            placeholder="Crie uma senha"
          />
        </div>

        <!-- Confirm Password Input -->
        <div class="relative">
          <label class="block text-base text-gray-600 mb-2 font-medium"
            >Confirme sua Senha</label
          >
          <input
            type="password"
            class="w-full pl-4 pr-5 py-4 text-base border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-[#5e6d72] focus:border-transparent transition duration-300"
            placeholder="Repita sua senha"
          />
        </div>

        <!-- Register Button -->
        <button
          class="w-full bg-gradient-to-r from-[#5e6d72] to-[#b6c6cc] text-white py-4 rounded-xl font-semibold text-base shadow-lg hover:opacity-90 transition transform hover:scale-105 cursor-pointer"
        >
          Criar Conta
        </button>
      </form>

      <!-- Login Link -->
      <p class="text-lg text-gray-600 text-center mt-8">
        Já tem uma conta?
        <a
          href="/login"
          class="text-[#5e6d72] font-bold hover:underline transition"
          >Faça login</a
        >
      </p>
    </div>
  </div>
</div>
